@import "frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @pink;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: black;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: black;
}

#battery.charging {
  color: black;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: black;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: black;
  border-radius: 1rem;
}

#custom_skip_forward {
  border-radius: 1rem;
}

#custom_skip_backward {
  border-radius: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#bluetooth {
  margin: 5px;
  border-radius: 1rem;
  background-color: @pink;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}
