* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 17px;
  font-weight:700;
  min-height: 0;
  /*border: 4px solid #ff0000;
  border-radius: 4px;*/
}

#waybar {
  background: transparent;
  margin: 4px;
  border-color: red;
}


#custom-music,
#tray,
#backlight,
#battery,
#bluetooth,
#pulseaudio,
#custom-lock,
#clock,
#custom-power {
  background-color: black;
  padding: 0.5rem 0.7rem;
  color: #FF1111;
  margin-bottom: 4px;
  margin-top: 4px;
}

#bluetooth {
  border: 2px solid #FF1111;
  border-right:#000000;
  margin-bottom: 4px;
  margin-top: 4px;
}

#pulseaudio {
  border: 2px solid #FF1111;
  border-right:#000000;
  border-left:#000000;
  margin-bottom: 4px;
  margin-top: 4px;
}

#clock {
  background-color:#000000;
  border: 2px solid #FF1111;
  color: #FF1111;
  border-radius: 1rem;
  margin-bottom: 4px;
  margin-top: 4px;
}


#battery {
  border-radius: 0px 1rem 1rem 0px;
  border: 2px solid #FF1111;
  border-left:#000000;
  margin-bottom: 4px;
  margin-top: 4px;
}

#bluetooth {
  border-radius: 1rem 0px 0px 1rem;
  padding-right: 0.3rem;
  margin-bottom: 4px;
  margin-top: 4px;
}

#custom-music {
  color: #FF1111;
  border: 2px solid #FF1111;
  border-radius: 1rem;
  margin: 5px;
  margin-bottom: 4px;
  margin-top: 4px;
}

#custom_skip_forward {
  border-radius: 1rem;
}

#custom_skip_backward {
  border-radius: 1rem;
}

#tray {
  margin-right: 0.5rem;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 1rem;
  border: 2px solid #FF1111;
}
